@use "../../assets/layout.scss";
@use "../../assets/cssvars.scss" as *;

.bottombar-container {
  @include layout.flex-row($justify-content: flex-start, $align-items: center);
  width: 100%;
  height: $btmbar-height;
  border-top: 1px solid var(--bar-border-color);
  background-color: var(--bottombar-bg-color);
}

.bottombar-app-func-container {
  height: 100%;
  @include layout.flex-row();
  & .bottombar-app-func-item {
    @include layout.flex-row();
    width: calc($btmbar-height + 12px);
    height: $btmbar-height;
    cursor: pointer;
    background-color: var(--bottombar-bg-color);
    transition: background-color 0.3s ease;

    & svg {
      transition: fill 0.3s ease;
    }

    &:hover {
      background-color: var(--bar-btn-hover-bg-color);
      & svg {
        fill: var(--primary-color);
      }
    }
  }
}

.bottombar-running-tool-container {
  @include layout.flex-row($justify-content: flex-start, $align-items: center);
  height: 100%;
  overflow-x: auto;
}
