@use "../../assets/layout.scss";
@use "../../assets/cssvars.scss" as *;

.bottombar-container {
  @include layout.flex-row($justify-content: flex-start, $align-items: center);
  width: 100%;
  height: $btmbar-height;
  // border-top: $border-size solid var(--bar-border-color);
  background-color: var(--bottombar-bg-color);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px; /* 边框厚度 */
    background-color: var(--bar-border-color); /* 颜色自行调整 */
    z-index: 10;
  }
}

.bottombar-app-func-container {
  height: $btmbar-height;
  @include layout.flex-row();
  & .bottombar-app-func-item {
    @include layout.flex-row();
    width: calc($btmbar-height + 12px);
    height: 100%;
    cursor: pointer;
    background-color: var(--bottombar-bg-color);
    transition: background-color 0.3s ease;

    & svg {
      transition: fill 0.3s ease;
    }

    &:hover {
      background-color: var(--bar-btn-hover-bg-color);
      & svg {
        fill: var(--primary-color);
      }
    }
  }
}

.bottombar-running-tool-container {
  @include layout.flex-row($justify-content: flex-start, $align-items: center);
  width: calc(100% - $btmbar-height - 12px);
  height: $btmbar-height;
  overflow-x: auto;
  // scrollbar-gutter: stable both-edges;

  &::-webkit-scrollbar {
    // display: none;
    height: 0;
  }
}
