@use "../../assets/layout.scss";
@use "../../assets/cssvars.scss" as *;

#topbar-container {
  @include layout.flex-row($justify-content: space-between, $align-items: center);
  width: 100%;
  height: $topbar-height;
  background-color: var(--topbar-bg-color);
  border-bottom: 1px solid var(--bar-border-color);
  backdrop-filter: blur(12px);
}

.window-title-container {
  @include layout.flex-row($justify-content: space-between, $align-items: center);
  padding-left: 20px;
  height: 100%;

  & .window-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-title-text-color);
    user-select: none;
  }

  & .window-subtitle {
    font-size: 16px;
    color: var(--sub-title-text-color);
    user-select: none;
  }
}

.application-func-container {
  height: 100%;
}

.drag-area {
  flex: 1;
  height: 100%;
  -webkit-app-region: drag;
}

.window-btn-group {
  @include layout.flex-row($justify-content: flex-end, $align-items: center);
  height: 100%;

  & .theme-btn {
    @include layout.flex-center();
    width: calc($topbar-height - 12px);
    height: calc($topbar-height - 12px);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%;

    &:hover {
      background-color: var(--bar-btn-hover-bg-color);
    }
  }

  & .mini-btn,
  .max-btn,
  .close-btn {
    @include layout.flex-center();
    width: $topbar-height;
    height: $topbar-height;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--bar-btn-hover-bg-color);
    }
  }
}
