@use "../../assets/layout.scss";

$small-sidebar-btn-size: 48px;

// .sidebar-container {
//   // @include layout.flex-row();
//   @include layout.abs-position(50%, 0px, 0px, -96px);
//   transform: translateY(-50%);
//   width: 192px;
//   height: 192px;
//   background-color: var(--sidebar-bg-color);
//   border-radius: 0 50% 50% 0;
// }

.sidebar-container {
  @include layout.abs-position(50%, 0px, 0px, 50%);
  transform: translate(-100%, 100%); /* 向上和向左移动自身宽高的一半，实现居中 */
  opacity: 0;
  width: 90%;
  height: 90%;
  background-color: var(--sidebar-bg-color);
  border-radius: var(--ui-radius-xs);
  border: var(--ui-border-width-thin) solid var(--ui-border-accent);
  box-shadow: var(--ui-panel-shadow);
  backdrop-filter: var(--ui-backdrop-blur-sm);
  z-index: 30;
  pointer-events: none;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}
.sidebar-container.visible {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
}

.sidebar-container.active {
  width: 192px;
  height: 192px;
  border-radius: 0 50% 50% 0;
}

.small-sidebar-btn {
  @include layout.abs-position(50%, 0px, 0px, 0px);
  @include layout.flex-col();
  width: $small-sidebar-btn-size;
  height: $small-sidebar-btn-size;
  background-color: var(--sidebar-bg-color);
  border-radius: 0 var(--ui-radius-sm) var(--ui-radius-sm) 0;
  cursor: pointer;
  z-index: 2;
  display: none;

  & .navigation-icon {
    @include layout.flex-center();
  }

  & .small-sidebar-btn-text {
    @include layout.flex-row();
    gap: 6px;
    width: 32px;
    height: 32px;
    transform: translateX(62.5%);

    & .circle {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--primary-color);
      transition: all 0.3s ease;
    }

    @for $i from 1 through 3 {
      & .circle:nth-child(#{$i}) {
        transition-delay: 0.1s * ($i - 1);
      }
    }
  }
}
