.light {
  --primary-color: #66ccff;

  --background-color: #fff;

  // sidebar
  --sidebar-bg-color: #cdcbcb;

  // bottombar
  --bottombar-bg-color: #f0f3f6;

  // Topbar
  --topbar-bg-color: #f0f3f6;
  --main-title-text-color: var(--primary-color);
  --sub-title-text-color: #77d2ff;
  --window-btn-hover-bg-color: #d0d0d0;

  // Comps
  --divider-color: var(--primary-color);
}

.dark {
  --background-color: #363131;
  --sidebar-bg-color: #514646;
  --topbar-bg-color: #f0f3f6;
  --bottombar-bg-color: #514646;
}

/** Animated Theme Toggle */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 999;
}

.light::view-transition-old(root) {
  z-index: 999;
}

.light::view-transition-new(root) {
  z-index: 1;
}
